<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>销售分析</title>
  <#include "/commons/header-links.html">

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <#include "/commons/header.html">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper index-top">
    <!-- Main content -->
    <div class="row">
    <section class="content">
      <!-- Main row -->

      <section class="col-lg-12 connectedSortable">
        <input type="hidden" id="_csrf" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div class="box box-primary">
          <div class="box-header with-border" id="salesQuantityFluctuationDIV">
            <h3 class="box-title">各品类销售量波动</h3>
          </div>
          <!--<div class="box-header top-border">-->
            <!--<h3 class="box-title">各品类销售量波动<i class="fa fa-fw fa-question-circle"></i></h3>-->
          <!--</div>-->
          <div class="box-body">
            <div id="salesQuantityFluctuation"  style="height: 400px; cursor: pointer;"></div>
          </div>
        </div>
      </section>

      <section class="col-lg-6 connectedSortable">
        <div class="box box-primary">
          <div class="box-header with-border" id="salesQuantityDIV">
            <h3 class="box-title">各品类销售量占比</h3>
          </div>
          <div class="box-header top-border">
            <!--<h3 class="box-title">各品类销售量占比<i class="fa fa-fw fa-question-circle"></i></h3>-->
            <div class="box-tools pull-right">
              <button type="button" name="week" value="salesQuantity" class="periodweek salesAnalysisDate btn btn-box-tool btn1" data-widget="collapse">
                周
              </button>
              <button type="button" name="month" value="salesQuantity"  class="periodmonth salesAnalysisDate btn btn-box-tool btn2 active" data-widget="remove">
                月
              </button>
            </div>
          </div>
          <div class="box-body">
            <div id="salesQuantity"  style="height: 400px; cursor: pointer;"></div>
          </div>
        </div>
      </section>


      <section class="col-lg-6 connectedSortable">
        <div class="box box-primary">
          <div class="box-header with-border" id="salesVolumeDIV">
            <h3 class="box-title">各品类销售额占比</h3>
          </div>
          <div class="box-header top-border">
            <!--<h3 class="box-title">各品类销售额占比<i class="fa fa-fw fa-question-circle"></i></h3>-->
            <div class="box-tools pull-right">
              <button type="button" name="week" value="salesVolume" class="periodweek salesAnalysisDate btn btn-box-tool btn1" data-widget="collapse">
                周
              </button>
              <button type="button" name="month" value="salesVolume" class="periodmonth salesAnalysisDate btn btn-box-tool btn2 active" data-widget="remove">
                月
              </button>
            </div>
          </div>
          <div class="box-body">
            <div id="salesVolume"  style="height: 400px; cursor: pointer;"></div>
          </div>
        </div>
      </section>

      <section class="col-lg-6 connectedSortable">
        <div class="box box-primary">
          <div class="box-header with-border" id="salesVolumeRatioDIV">
            <h3 class="box-title">各品类销售量同环比</h3>
          </div>
          <div class="box-header top-border">
            <!--<h3 class="box-title">各品类销售量同环比<i class="fa fa-fw fa-question-circle"></i></h3>-->
            <div class="box-tools pull-right">
              <button type="button" name="week" value="salesVolumeRatio" class="periodweek salesAnalysisDate btn btn-box-tool btn1" data-widget="collapse">
                周
              </button>
              <button type="button" name="month" value="salesVolumeRatio" class="periodmonth salesAnalysisDate btn btn-box-tool btn2 active" data-widget="remove">
                月
              </button>
            </div>
          </div>
          <div class="box-body">
            <div id="salesVolumeRatio"  style="height: 400px; cursor: pointer;"></div>
          </div>
        </div>
      </section>

      <section class="col-lg-6 connectedSortable">
        <div class="box box-primary">
          <div class="box-header with-border" id="massRatioDIV">
            <h3 class="box-title">游客团散比例 </h3>
          </div>
          <div class="box-header top-border">
            <!--<h3 class="box-title">游客团散比例<i class="fa fa-fw fa-question-circle"></i></h3>-->
            <div class="box-tools pull-right">
              <button type="button" name="week" value="massRatio" class="periodweek salesAnalysisDate btn btn-box-tool btn1" data-widget="collapse">
                周
              </button>
              <button type="button" name="month" value="massRatio" class="periodmonth salesAnalysisDate btn btn-box-tool btn2 active" data-widget="remove">
                月
              </button>
            </div>
          </div>
          <div class="box-body">

            <div class="chart">
              <div id="massRatio"  style="height: 400px; cursor: pointer;"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="col-lg-6 connectedSortable">
        <div class="box box-primary">
          <div class="box-header with-border" id="salesQuantityTop10DIV">
            <h3 class="box-title">本景区销量Top10 </h3>
          </div>
          <div class="box-header top-border">
            <!--<h3 class="box-title">本景区销量Top10<i class="fa fa-fw fa-question-circle"></i></h3>-->
            <div class="box-tools pull-right">
              <button type="button" name="day" value="salesQuantityTop10" class="periodday salesAnalysisDate btn btn-box-tool btn1" data-widget="collapse">
                日
              </button>
              <button type="button" name="week" value="salesQuantityTop10" class="periodweek salesAnalysisDate btn btn-box-tool btn1" data-widget="collapse">
                周
              </button>
              <button type="button" name="month" value="salesQuantityTop10" class="periodmonth salesAnalysisDate btn btn-box-tool btn2 active" data-widget="remove">
                月
              </button>
            </div>
          </div>
          <div class="box-body">
            <div class="chart">
              <div id="salesQuantityTop10"  style="height: 400px; cursor: pointer;"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="col-lg-6 connectedSortable">
        <div class="box box-primary">
          <div class="box-header with-border" id="salesVolumeFluctuationDIV">
            <h3 class="box-title">销量波动幅度(涨/跌)Top5产品 </h3>
          </div>
          <div class="box-header top-border">
            <!--<h3 class="box-title">销量波动幅度(涨/跌)Top5产品<i class="fa fa-fw fa-question-circle"></i></h3>-->
            <div class="box-tools pull-right">
              <button type="button" name="day" value="salesVolumeFluctuation" class="periodday salesAnalysisDate btn btn-box-tool btn1" data-widget="collapse">
                日
              </button>
              <button type="button" name="week" value="salesVolumeFluctuation" class="periodweek salesAnalysisDate btn btn-box-tool btn1" data-widget="collapse">
                周
              </button>
              <button type="button" name="month" value="salesVolumeFluctuation" class="periodmonth salesAnalysisDate btn btn-box-tool btn2 active" data-widget="remove">
                月
              </button>
            </div>
          </div>
          <div class="box-body">
            <div class="chart">
              <div id="salesVolumeFluctuation"  style="height: 400px; cursor: pointer;"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
      <!-- /.row (main row) -->

  <#include "/commons/footer.html">
  </div>

<#include "/commons/footer-links.html">
  <style type="text/css">
    .salesAnalysisDate {
      background: #cccccc;
    }
    .active {
      background-color: #f68535;
    }
  </style>
  <!-- 以下是业务代码js-->
  <script type="text/javascript">

      $('.salesAnalysisDate').click(function(){
          $(this).addClass('active').siblings().removeClass('active');
      })

      <!-- 销量波动图表测试展示-->
      var salesQuantityFluctuationDom = document.getElementById("salesQuantityFluctuation");
      var salesQuantityFluctuationCharts = echarts.init(salesQuantityFluctuationDom,"light");
      optionV = {
          grid:{
              left: '4%',
              right: '3%'
          },
          tooltip : {
              trigger: 'axis'
          },
          legend: {
              data:[
//                    '门票','酒店','线路'
              ]
          },
          toolbox: {
              show : false,
              feature : {
                  mark : {show: true},
                  dataView : {readOnly:false},
                  magicType : {show: false, type: ['line', 'bar', 'stack', 'tiled']},
                  restore : {show: false},
                  saveAsImage : {show: false}
              }
          },
          calculable : true,
          dataZoom : {
              show : true,
              realtime : true,
              start : 75,
              end : 100
          },
          xAxis : [
              {
                  type : 'category',
                  boundaryGap : true,
                  data : []//日期
              }
          ],
          yAxis : [
              {
                  type : 'value'
              }
          ],
          series : [
              {
                  name:'门票',
                  type:'line',
                  data:[]//具体的值
              },
              {
                  name:'线路',
                  type:'line',
                  data:[]
              },
              {
                  name:'酒店',
                  type:'line',
                  data:[]
              }
          ]
      };

      if (optionV && typeof optionV === "object") {
          salesQuantityFluctuationCharts.setOption(optionV, true);
      }

      function setSalesQuantityFluctuation() {
          salesQuantityFluctuationCharts.showLoading({
              text:"加载中..."
          });
          $.ajax({
              url: '${request.contextPath}/sales/salesQuantityFluctuation',
              type: "GET",
              data: {},
              success: function (data) {
//                    console.log(data);
                  salesQuantityFluctuationCharts.hideLoading();
                  salesQuantityFluctuationCharts.setOption({
                      legend: [{
                          data: data.legendcategory
                      }],
                      xAxis: [{
                          data: data.xaxisdays
                      }],
                      series: data.serieses
                  })
              },
              error: function (data) {
              }
          })
      }
      setSalesQuantityFluctuation();
  </script>

  <script type="text/javascript">
      /**
       * 各品类销量
       * @type {Element}
       */
      var dom = document.getElementById("salesQuantity");
      var myChart = echarts.init(dom,"light");
      optionSalesQuantity = {
          grid: {
              left:'10%',
              right:'10%'
          },
          tooltip: {
              trigger: 'item',
//              formatter: "{a} <br/>{b}: {c} ({d}%)"
              formatter: "{b}: {d}%"
          },
          legend: {
              orient: 'vertical',
              selectedMode: false,
              left: 'left',
              data: [
                  //                '门票','线路','酒店'
              ],
              show: false
          },
          series: [
              {
                  name:'销售分析',
                  type: 'pie',
                  radius : '55%',
                  radius: ['42%', '60%'],
                  data:[
                      //                    {value:30.23, name:'门票'},
                      //                    {value:32.77, name:'线路'}
                  ],
                  itemStyle: {
                      emphasis: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                      }
                  }
              }
          ]
      };

      if (optionSalesQuantity && typeof optionSalesQuantity === "object") {
          myChart.setOption(optionSalesQuantity, true);
      }

      function setOptionSalesQuantity(period) {
          myChart.showLoading({
              text:"加载中..."
          });
          $.ajax(
              {
                  url : '${request.contextPath}/sales/allCategorySalesQuantityRatio',
                  type : "GET",
                  data :{
                      "period": period
                  },
                  success:function(data) {
//                      console.log(data)
                      myChart.hideLoading();
                      myChart.setOption({
                          series:[{
                              data: data.values
                          }]
                      });
                  },
                  error:function(data) {
                  }
              }
          )
      }
  </script>

  <script type="text/javascript">
      <!-- 各品类销售额-->
      var dom2 = document.getElementById("salesVolume");
      var myChart2 = echarts.init(dom2,"light");
      optionSalesVolume = {
          grid: {
              left:'10%',
              right:'10%'
          },
          tooltip : {
              trigger: 'item',
              formatter: "{b} : {d}%"
          },
          legend: {
              selectedMode: false,
              orient: 'vertical',
              left: 'left',
              data: [
//                                    '线路','门票','酒店'
              ],
              show: false
          },
          series : [
              {
                  name: '销售额分析',
                  type: 'pie',
                  radius : '55%',
                  center: ['50%', '60%'],
                  data:[
                      //                    {value:60, name:'线路'},
                      //                    {value:17, name:'门票'},
                      //                    {value:33, name:'酒店'}
                  ],
                  itemStyle: {
                      emphasis: {
                          shadowBlur: 10,
                          shadowOffsetX: 0,
                          shadowColor: 'rgba(0, 0, 0, 0.5)'
                      }
                  }
              }
          ]
      };

      if (optionSalesVolume && typeof optionSalesVolume === "object") {
          myChart2.setOption(optionSalesVolume, true);
      }

      function setOptionSalesVolume(period) {
          myChart2.showLoading({
              text:"加载中..."
          })
          $.ajax({
              url : '${request.contextPath}/sales/allCategorySalesVolumeRatio',
              type : "GET",
              data : {
                  "period": period
              },
              success:function(data) {
//                  console.log(data)
                  myChart2.hideLoading();
                  myChart2.setOption({
                      series:[{
                          data: data.values
                      }]
                  });
              },
              error:function(data) {
              }
          })
      }
  </script>

  <script type="text/javascript">
      <!--各品类销量同环比 -->
      var salesVolumeRatioDom = document.getElementById("salesVolumeRatio");
      var salesVolumeRatioDomCharts = echarts.init(salesVolumeRatioDom,"light");
      optionsalesVolumeRatio = {
          grid: {
              left:70
          },
          tooltip: {
              trigger: 'axis',
              axisPointer: {
                  type: 'cross',
                  crossStyle: {
                      color: '#999'
                  }
              }
          },
          toolbox: {
              show : false,
              feature: {
                  dataView: {show: true, readOnly: false},
                  magicType: {show: false, type: ['line', 'bar']},
                  restore: {show: false},
                  saveAsImage: {show: false}
              }
          },
          legend: {
              selectedMode: false,
              data:['同比','环比']
          },
          xAxis: [
              {
                  type: 'category',
                  data: [
                      //                    '门票','酒店','线路'
                  ],
                  axisPointer: {
                      type: 'shadow'
                  }
              }
          ],
          yAxis: [
              {
                  type: 'value',
                  name: '百分比',
                  axisLabel: {
                      formatter: '{value}%'
                  }
              }
          ],
          series: [
              {
                  name:'同比',
                  type:'bar',
                  data:[
                      //                    68, 54, 45.0
                  ]
              },
              {
                  name:'环比',
                  type:'bar',
                  data:[
                      //                    48, 66.9, 83.0
                  ]
              }
          ]
      };
      if (optionsalesVolumeRatio && typeof optionsalesVolumeRatio === "object") {
          salesVolumeRatioDomCharts.setOption(optionsalesVolumeRatio, true);
      }

      function setOptionsalesVolumeRatio(period) {
          salesVolumeRatioDomCharts.showLoading({
              text:"加载中..."
          });
          $.ajax({
              url : '${request.contextPath}/sales/allCategoryRatioForAllPeriod',
              type : "GET",
              data : {
                  "period": period
              },
              success:function(data) {
//                    console.log(data);
                  salesVolumeRatioDomCharts.hideLoading();
                  salesVolumeRatioDomCharts.setOption({
                      xAxis:[{
                          data:data.category
                      }],
                      series:[
                          {data: data.tongbi},
                          {data: data.huanbi}
                      ]
                  });
              },
              error:function(data) {
              }
          })
      }

  </script>

  <script type="text/javascript">
      <!-- 游客散团比-->
      var massRatioDom = document.getElementById("massRatio");
      var massRatioCharts = echarts.init(massRatioDom,"light");
      optionMassRatio = {
          grid:{
              left:'10%',
              right:'10%'
          },
          tooltip : {
              trigger: 'item',
              formatter: "{b} : {d}%"
          },
          legend: {
              orient: 'vertical',
              selectedMode: false,
              left: 'left',
              data: [
                  //                '散','团'
              ],
              show: false
          },
          series : [
              {
                  name: '团散比',
                  type: 'pie',
                  radius : ['42%', '60%'],
                  center: ['50%', '60%'],
                  data:[
                      //                    {value:43, name:'散'},
                      //                    {value:57, name:'团'}
                  ],
                  itemStyle : {
                      normal : {
                          label : {
                              position : 'inner',
                              formatter : '{b}/{d}%'
                              //                            formatter : '{d}%'
                          },
                          labelLine : {
                              show : true
                          }
                      }
                  }
              }
          ]
      };

      if (optionMassRatio && typeof optionMassRatio === "object") {
          massRatioCharts.setOption(optionMassRatio, true);
      }
      function setOptionMassRatio(period) {
          massRatioCharts.showLoading({
              text:"加载中..."
          });
          $.ajax({
              url : '${request.contextPath}/sales/massRatio',
              type : "GET",
              data : {
                  "period": period
              },
              success:function(data) {
//                        console.log(data);
                  massRatioCharts.hideLoading();
                  massRatioCharts.setOption({
                      series:[{
                          data: data.values
                      }]
                  });
              },
              error:function(data) {
              }
          })
      }
  </script>
  <script type="text/javascript">
      <!-- 本景区销量Top10-->
      var salesQuantityTop10Dom = document.getElementById("salesQuantityTop10");
      var salesQuantityTop10Charts = echarts.init(salesQuantityTop10Dom,"light");
      salesQuantityTop10Option = {
          color: ['#3398DB'],
          tooltip : {
              show: true,
              trigger: 'axis',
              axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                  type : 'shadow',      // 默认为直线，可选为：'line' | 'shadow'
              },
              textStyle:{
                  extraCssText: 'width:1000;height:300',
                  fontSize: 8
              }
          },
          grid: {
              left: '1%',
              right: '1%',
              bottom: '3%',
              containLabel: true
          },
          xAxis : [
              {
                  type : 'category',
                  data : [
                      //                    '黄山+酒店', '黄山公园机酒', '黄山索道', '黄山五绝', '黄山五胜','黄山+酒店', '黄山公园机酒', '黄山索道', '黄山五绝', '黄山五胜'
                  ],
                  axisTick: {
                      alignWithLabel: true
                  }
              }
          ],
          yAxis : [
              {
                  type : 'value'
              }
          ],
          series : [
              {
                  name:'日销量',
                  type:'bar',
                  barWidth: '50%',
                  data:[
                      //                    390, 350, 310, 307, 302,390, 350, 310, 307, 302
                  ]
              }
          ]
      };

      if (salesQuantityTop10Option && typeof salesQuantityTop10Option === "object") {
          salesQuantityTop10Charts.setOption(salesQuantityTop10Option, true);
      }

      function setSalesQuantityTop10Option(period) {
          salesQuantityTop10Charts.showLoading({
              text:"加载中..."
          });
          $.ajax({
              url : '${request.contextPath}/sales/salesQuantityTop10',
              type : "GET",
              data : {
                  "period": period
              },
              success:function(data) {
//                    console.log(data);
                  salesQuantityTop10Charts.hideLoading();
                  salesQuantityTop10Charts.setOption({
                      xAxis:[{
                          data: data.productName
                      }],
                      series:[{
                          data:  data.productQuantity
                      }]});
              },
              error:function(data) {
              }
          })
      }
  </script>

  <script type="text/javascript">
      /**
       * 销量最大涨幅/最大跌幅Top5
       */
      var salesVolumeFluctuationDom = document.getElementById("salesVolumeFluctuation");
      var salesVolumeFluctuationCharts = echarts.init(salesVolumeFluctuationDom,"light");
      <!-- 销量最大涨跌幅图-->
      var labelRight = {
          normal: {
              position: 'right'
          }
      };
      var labelLeft = {
          normal: {
              position: 'left'
          }
      };
      optionSalesVolumeFluctuation = {
          title: {
              subtext: '销量较上一期'
          },
          tooltip : {
              trigger: 'axis',
              axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                  type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
              },
              textStyle:{
                  fontSize: 8
              }
          },
          grid: {
//              top: 80,
//              bottom: 30
              left: '1%',
              right: '1%',
              bottom: '3%',
              containLabel: true
          },
          xAxis: {
              type : 'value',
              position: 'top',
              splitLine: {lineStyle:{type:'dashed'}},
          },
          yAxis: {
              type : 'category',
              axisLine: {show: true},
              axisLabel: {show: false},
              axisTick: {show: true},
              splitLine: {show: true},
              data : [
//                    '黄山酒店', '婺源酒店', '黄山机票+酒店', '黄山3日2晚', '安徽黄山+宏村',
//                    '黄山2日1晚跟团', '黄山+婺源2日1晚跟团游', '黄山+西递村+宏村4日3晚', '西递村索道', '黄山门票'
              ]
          },
          series : [
              {
                  name:'涨跌幅',
                  type:'bar',
                  label: {
                      normal: {
                          show: false,
                          formatter: '{b}'
                      },
                      align: 'right',
                      shadowOffsetX: 200
                  },
//                  clipOverflow: false,
                  data:[
//                        {value: -0.07, label: labelRight},
//                        {value: -0.09, label: labelRight},
//                        0.2, 0.44
                  ]
              }
          ]
      };
      if (optionSalesVolumeFluctuation && typeof optionSalesVolumeFluctuation === "object") {
          salesVolumeFluctuationCharts.setOption(optionSalesVolumeFluctuation, true);
      }
      function setSalesVolumeFluctuationCharts(period) {
          salesVolumeFluctuationCharts.showLoading({
              text : '加载中...'
          });
          $.ajax({
              url:'${request.contextPath}/sales/salesVolumeFluctuationTop',
              type:'GET',
              data:{
                  period: period
              },
              success:function (data) {
                  salesVolumeFluctuationCharts.hideLoading();
                  salesVolumeFluctuationCharts.setOption({
                      yAxis: {
                          data : data.yaxisProductName
                      },
                      series : [{
                          clipOverflow: false,
                          data: data.seriesdata
                      }]
                  }, {
                      lazyUpdate:true
                  });
              }
          });
      }
  </script>

  <script type="text/javascript">
      /**
       * 全局变量
       */
      function callFun(business,period) {
          if("salesQuantity"===business){
              setOptionSalesQuantity(period);/**销量占比* */
          }
          else if("salesVolume"===business){
              setOptionSalesVolume(period);/**销额占比* */
          } else if("salesVolumeRatio"===business){
              setOptionsalesVolumeRatio(period); /**销量同环比* */
          }else if("massRatio"===business) {
              setOptionMassRatio(period); /**团散比比* */
          } else if("salesQuantityTop10"===business){
              setSalesQuantityTop10Option(period);
          }else if("salesVolumeFluctuation"===business){
              setSalesVolumeFluctuationCharts(period);
          }
      }
      //初始化,默认日期为月
      setOptionSalesQuantity("month");
      setOptionSalesVolume("month");
      setOptionMassRatio("month");
      setOptionsalesVolumeRatio("month");
      setSalesQuantityTop10Option("month");
      setSalesQuantityFluctuation();
      setSalesVolumeFluctuationCharts("month")
      /**
       *  日期为日点击事件
       */
      $(".periodday").on('click',function () {
          var business = $(this).val();
          var period = "day";
          callFun(business,period);
      });
      /**
       *  日期为周点击事件
       */
      $(".periodweek").on('click',function () {
          var business = $(this).val();
          var period = "week";
          callFun(business,period);
      });
      /**
       * 日期为月点击事件
       */
      $(".periodmonth").on('click',function () {
          var business = $(this).val();
          var period = "month";
          callFun(business,period);
      });
  </script>

</body>
</html>
