<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.html">
    <title>首页</title>
    <!--引入公共样式-->
    <#include "/common/linked.html">
</head>
<body>
<section id="container" class="">
    <!--引入公共头-->
    <#include "/common/header.html">
    <!--引入公共侧边栏-->
    <#include "/common/sidebar.html">
    <!--网站主类容-->
    <section id="main-content">
        <section class="wrapper">
            <!-- 页面开始-->
            Page content goes here
            <!-- 页面结束-->
        </section>
    </section>
    <!--网站主类容结束-->
</section>

<#include "/common/script.html">
</body>
</html>
