<!-- js placed at the end of the document so the pages load faster -->
<script src="${request.contextPath}/static/js/jquery.js"></script>
<script src="${request.contextPath}/static/js/jquery-1.8.3.min.js"></script>
<script src="${request.contextPath}/static/js/bootstrap.min.js"></script>
<script src="${request.contextPath}/static/js/jquery.scrollTo.min.js"></script>
<script src="${request.contextPath}/static/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="${request.contextPath}/static/js/jquery.sparkline.js" type="text/javascript"></script>
<script src="${request.contextPath}/static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="${request.contextPath}/static/js/owl.carousel.js" ></script>
<script src="${request.contextPath}/static/js/jquery.customSelect.min.js" ></script>

<!--ECharts-->
<script type="text/javascript" src="${request.contextPath}/static/js/echarts/echarts.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/echarts/echarts-gl.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/echarts/ecStat.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/echarts/dataTool.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/echarts/china.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/echarts/world.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/echarts/bmap.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/echarts/simplex.js"></script>

<!--common script for all pages-->
<script src="${request.contextPath}/static/js/common-scripts.js"></script>
<script >
    <!--侧边栏一级菜单选择-->
    $(".sub-menu").click(function(){
        $(this).addClass("active").siblings().removeClass("active");
    });
    <!--点击二级菜单-->
    $(".sub-menu ul li").click(function(){
        $(".sub-menu").removeClass("active");
        $(".sub-menu ul li").removeClass("active");
    });
</script>