<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="sub-menu indexli">
                <a class="" href="${request.contextPath}/view/index">
                    <i class="icon-dashboard"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="sub-menu trendli">
                <a href="javascript:;" class="">
                    <i class="icon-book"></i>
                    <span>Technical Analysis</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li class="history"><a class="" href="${request.contextPath}/view/trend">历史趋势</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-cogs"></i>
                    <span>Fundamental Analysis</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="#">Grids</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-tasks"></i>
                    <span>Form Stuff</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="#">Form Components</a></li>
                    <li><a class="" href="#">Form Wizard</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-th"></i>
                    <span>Data Tables</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="#">Basic Table</a></li>
                    <li><a class="" href="#">Dynamic Table</a></li>
                </ul>
            </li>
            <li>
                <a class="" href="#">
                    <i class="icon-envelope"></i>
                    <span>Mail </span>
                    <span class="label label-danger pull-right mail-info">2</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-glass"></i>
                    <span>Extra</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="#">Blank Page</a></li>
                    <li><a class="" href="#">Profile</a></li>

            </li>
            <li>
                <a class="" href="#">
                    <i class="icon-user"></i>
                    <span>Login Page</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>